.settingsMenu {
  position: absolute;
  right: 0px;
}

.menu-enter {
  max-height: 0px;
  transition: max-height .5s ease;
  overflow: hidden;
}

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px;
}

.menu-leave {
  max-height: 100px;
  transition: max-height .5s ease;
}

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px;
}

ul {
  width: 70%;
  background-color: #a3bed7;
  list-style-type: none;
  z-index: 9999;
  padding: 5px 20px;

  li {
    margin: 10px 0;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
