#header-container {
	width: 100%;
	min-height: 10%;
}

.header {
	width: 100%;
	height: 10%;
	position: absolute;
	background-color: $main-color;
	color: white;
	display:flex;
  align-items: center;
}

.title:hover, .add-thought:hover, .account:hover, .settings:hover {
	cursor: pointer;
}

.title {
	padding-left: 0.5em;
	padding-right: 0.2em;
	font-size: 36px;
}

.welcome-text {
	margin: 0 auto;
}

.upper-menu {
	 position: absolute;
   right: 1em;
}

.material-icons.md-24 {
	font-size: 18px;
}

.material-icons.md-32 {
  padding-right: 0.5em;
	font-size: 2.5em;
}

.material-icons.md-32.settings {
	padding-right: 0.2em;
	padding-left: 1em;
}

@media (max-width: 414px) {
	.material-icons.md-32.settings {
		padding-left: 0;
	}
}

@media (max-width: 375px) {
	.title {
		font-size: 22px;
	}
}

@media (max-width: 320px) {
	.title {
		font-size: 18px;
	}
}