.profile.info-container {
  > div {
  	margin: $base_margin /2 $base_margin;
  	padding: $base_margin 0 $base_margin $base_margin;
  	max-width: 100%;
		background-color: white;

		div.info.cell {
			> p {
				margin: 20px 0 5px 0;
			}
			> div {
				input[type='text'] {
					width: 400px;
					padding: 5px;
					&:not([disabled]) {
						border: solid 2px $main-color;
					}
					@media screen and (max-width : 570px) {
						width: 80%;
					}
				}
				i {
					color: $darker-main;
					padding-left: 10px;
					&:hover {
						cursor: pointer;
					}
				}
			}
			.profile.edit {
				margin-left: $base_margin;
				.edit {
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
  }

  a {
  	margin: $base_margin $base_margin 0 $base_margin;
  }
}