.creator {
	font-family: $main-font;
	color: white;
}

.thought-container {
	font-family: $user-font;
	font-size: 1.7em;
	display: inline-block;
	background-color: $main-color;
	color: white;
	position: relative;
	padding: 2em;
	margin: 2em;

}