.creator {
	font-family: $main-font;
	color: white;
}

.thought-container {
	display: flex;
	align-items: center;
	font-family: $user-font;
	font-size: 1.7em;
	margin: 40px 20px;
	background-color: $main-color;
	color: white;
	position: relative;
	//padding: 2em;
	//margin: 2em;

}

.text-container {
	padding: 10px;
	margin: 0 auto;
}