.thoughts-container {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	border-bottom: 6px solid;
	border-color: $main-color;

	.username {
		position: absolute;
	}
}

@media (max-width: 414px) {
	.thoughts-container {
		flex-direction: column;
	}
}