$user-font: 'Gloria Hallelujah', cursive;
$main-font: 'Enriqueta', serif;

.creator {
	font-family: $main-font;
	color: #70bdf2;
}

.thought-container {
	font-family: $user-font;
	font-size: 1.7em;
	display: inline-block;
	background-color: #edf4fe;
	position: relative;
	padding: 2em;
	margin: 2em;
	border-style: solid;
	border-color: #70bdf2;
	border-radius: 40%;
	border-style: dotted;
}